<div class="position-relative" [ngClass]="{'d-inline-block': width === 'auto'}">
    <app-rc-input [id]='id' [label]="label" [formControl]="formControl" [ngClass]='class'
        [getErrorMessage]="getErrorMessage" [type]="passwordVisible?'password':'text'"
        [misuratoreSicurezza]="misuratoreSicurezza">
    </app-rc-input>
    <!-- Pulsante con classi e stile inline -->
    <button type="button" (click)="showHidePassword()"
        class="password-icon position-absolute btn mb-0 me-3 show-hide-button" role="switch" aria-checked="false">
        <span class="visually-hidden">Mostra/Nascondi Password</span>
        <div *ngIf='passwordVisible'>
            <app-rc-icon class="password-icon-visible icon icon-sm" color='secondary'
                name="it-password-visible"></app-rc-icon>
        </div>
        <div *ngIf='!passwordVisible'>
            <app-rc-icon class="password-icon-invisible icon icon-sm" color='secondary'
                name="it-password-invisible"></app-rc-icon>
        </div>
    </button>
</div>
