<div #carousel class="it-carousel-wrapper splide it-carousel-landscape-abstract-three-cols-arrow-visible"
  data-bs-carousel-splide>
  <div class="splide__track">
    <ul class="splide__list">
      <li *ngFor="let slide of slides; trackBy: trackByIndex; let index = index" class="splide__slide px-3 pb-3">
        <div class="slider-nav-tabs">
            <ng-container #contentContainer>
              <ng-container *ngIf="useComponent && slide.component">
                <ng-container *ngComponentOutlet="slide.component"></ng-container>
              </ng-container>
            </ng-container>
        </div>
      </li>
    </ul>
  </div>
</div>