registry=http://10.173.17.14:8082/repository/npm-public/
strict-ssl=false
always-auth=true

//10.173.17.14:8082/repository/npm-public/:username=developer
//10.173.17.14:8082/repository/npm-public/:_password=ZGV2ZWxvcGVy