<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <activeProfiles>
        <activeProfile>system-deployer</activeProfile>
    </activeProfiles>

    <servers>
        <server>
            <id>nexus</id>
            <username>admin</username>
            <password>qwerty</password>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>nexus</id>
            <mirrorOf>external:*,!mulesoft-release,!mvnrepository-release,!spring-milestone,!central</mirrorOf>
            <url>http://10.173.17.14:8082/repository/maven-public/</url>
        </mirror>
        <mirror>
            <id>alfresco</id>
            <mirrorOf>external:*</mirrorOf>
            <url>https://artifacts.alfresco.com/nexus/content/repositories/public</url>
        </mirror>
    </mirrors>
    <profiles>
		<profile>
			<id>local-priority</id>
			<repositories>
				<repository>
					<id>local-repo</id>
					<url>/home/sistemi/jenkins/jenkins_home/.m2/repository</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>
		</profile>
        <profile>
            <id>system-deployer</id>
            <repositories>
                <repository>
                    <id>nexus</id>
                    <url>http://10.173.17.14:8082/repository/maven-public/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <layout>default</layout>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>nexus</id>
                    <url>http://10.173.17.14:8082/repository/maven-public/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>

    </profiles>
</settings>
