//#8E001C
$primary-h: 348;
$primary-s: 100;
$primary-b: 56;

$primary: #8E001C; // Colore primario personalizzato

// $secondary: #707070; // Colore secondario personalizzato
$primary-hover: darken($primary, 10%);
$secondary-hover: darken($primary, 10%);

html,
body,
main {
    scroll-behavior: smooth;
    height: 100%;
    display: flex;
    flex-direction: column;
}

app-root {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

main {
    flex-grow: 1;
}

.btn {
    --bs-btn-color: #8E001C !important;
    --bs-btn-hover-color: #630014c1 !important;
    --bs-btn-active-color: #8E001C !important;
}

a.nav-link {
    cursor: pointer;
}

.bd-rc-tabs a.nav-link:hover:not(.active) {
    color: #8e001cad !important;
}

.steppers .steppers-nav .steppers-progress {
    display: block !important;
}

.steppers .steppers-nav .steppers-dots {
    display: flex !important;
}

@import '../../node_modules/bootstrap-italia/src/scss/bootstrap-italia.scss';
@import './bootstrap-italia-fonts.scss';

// Classi di utilità per Layout Expanded
.container,
.container-wide {
  transition: all 0.3s ease;
}

.container-wide {
  width: 100%;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}
// Classi di utilità per Layout Expanded